/* Universal Styles */
body {
    margin: 20px;
}

/* Player Drafting Form */
.player-list {
    margin-top: 30px;
}

.player-info {
    display: flex;
    gap: 20px;
 }

 .players-missing {
    text-align: center;
    padding: 20px;
 }

 /* Player Match Display */
 
/* Footer styles */
.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
}

.site-footer {
    padding: 40px 0 20px;
    text-align: center;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    color: #aaa;
}
/* About Page Styles */

/* Nav Styles */
.nav-style {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    padding: 0;
}